.weather-daily {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;

  @media (max-width: 900px) {
    padding: 0 40px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}
