<div class="date-and-city">
  <h1 class="date">{{date | date:'hh:mm a'}}<br>{{date | date:'EEEE, d MMMM y'}}</h1>
  <form class="city-form">
    <input #inputElement (keydown.enter)="onSearch()" (focus)="onFocus()" (blur)="onBlur()" class="city-form__input" type="text" name="location" autocomplete="off" [(ngModel)]="location">
    <button class="city-form__button" (click)="onSearch()" type="button">Search</button>
    @if(isFocused && (autocomplete.length)) {
      <ul class="city-form__autocomplete-ul">
        @for(item of autocomplete; track item.Key) {
          <li (mousedown)="onElasticSearch($event)" class="city-form__autocomplete-li" [attr.data-locationKey]="item.Key">{{item.LocalizedName}}, {{item.Country.LocalizedName}}</li>
        }
      </ul>
    }
  </form>
</div>
<div class="calendar">
  <div class="auth">
    @if((googleApi.userProfile$ | async)?.info; as info) {
      <div class="auth__profile">
        <p class="auth__name">{{info?.name}}</p>
        <p class="auth__email">{{info?.email}}</p>
      </div>
      <button (click)="onSignOut()" class="auth__button" type="button">Sign Out</button>
    } @else if ((googleApi.userProfile$ | async) === null) {
    <button (click)="onSignIn()" class="auth__button" type="button">Sign In</button>
    }
  </div>
  <div class="events-and-buttons">
    @if (!((googleApi.calendarEvents$ | async) === null && (googleApi.userProfile$ | async)?.info)) {
      <ul class="events">
        @for(event of googleApi.calendarEvents$ | async; track event.id) {
          <li class="event">
            <span class="event__time">{{event.start.dateTime}}</span>
            <span class="event__text">{{event.summary}}</span>
          </li>
        }
      </ul>
    } @else {
      <app-loader class="events__loader"></app-loader>
    }
    <div class="weather-buttons">
      <button (click)="onDaily()" class="daily-button" type="button">Daily</button>
      <button (click)="onHourly()" class="hourly-button" type="button">Hourly</button>
    </div>
  </div>
</div>
<app-weather [isDaily]="isDaily" [dailyForecast]="dailyForecast" [hourlyForecast]="hourlyForecast"></app-weather>
