<div class="date-and-city">
  <h1 class="date">{{date | date:'hh:mm a'}}<br>{{date | date:'EEEE, d MMMM y'}}</h1>
  <app-search-input [setValue]="location" (search)="onSearch($event)" (elasticSearch)="onElasticSearch($event)"></app-search-input>
</div>
<div class="calendar">
  <app-auth></app-auth>
  <div class="events-and-buttons">
    <app-events></app-events>
    <app-weather-buttons class="weather-buttons" (forecastSwitch)="onForecastSwitch($event)"></app-weather-buttons>
  </div>
</div>
<app-weather [isDaily]="isDaily" [searchStatus]="searchStatus" [dailyForecast]="dailyForecast" [hourlyForecast]="hourlyForecast"></app-weather>
