* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  min-height: 100vh;
  padding: 140px 5vw 20px 5vw;
  background-color: #6b6b6b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 640px) {
    padding: 20px 5vw;
  }
}

.app {
  position: relative;
  margin: 0 auto;
}

button {
  width: 139px;
  height: 44px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-wrap: nowrap;
  @media (max-width: 640px) {
    font-size: 20px;
    width: 94px;
    height: 38px;
  }
  @media (max-width: 450px) {
    font-size: 16px;
    width: 84px;
    height: 29px;
  }

  &:hover {
    background-color: #1e1e1e;
  }

  &:active {
    background-color: #323232;
  }
}

@font-face {
  font-family: Inter;
  font-weight: 100;
  src: url('./assets/fonts/Inter-Thin.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 200;
  src: url('./assets/fonts/Inter-ExtraLight.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url('./assets/fonts/Inter-Light.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('./assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('./assets/fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('./assets/fonts/Inter-SemiBold.ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('./assets/fonts/Inter-Bold.ttf');
}
